#sedesContainer {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: #232323;
}

.sedesTitle {
  color: #232323;
}

.sedesSubtitle {
  font-size: 17px;
  color: silver;
}

.sedesBlocksContainer {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.sedeBlock {
  width: 345px;
  height: 350px;
  margin: 25px;
  position: relative;
  transition: 400ms;
}

/* stylesheet */
.sedeStylesheet {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 230px;
  transition: 650ms;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.4);
}

.sedeBlock:hover .sedeStylesheet {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  opacity: 10%;
  border-radius: 0;
}

.sedeStylesheetContent {
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: flex-start;
  justify-content: center;
  transition: 1s;
}

.sedeBlock:hover .sedeStylesheetContent {
  bottom: 20px;
  opacity: 0;
}

.sedeStylesheetContent h2 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 25px;
}

.sedeStylesheetContent p {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 15px;
}

.sedeStylesheetContent button {
  background-color: transparent;
  border: solid 2px black;
  border-radius: 4px;
  padding: 10px 40px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 700;
  transition: 200ms ease-in-out;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.sedeStylesheetContent button:hover {
  background-color: black;
  color: white;
}

/* hover */
.sedesHover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0%;
  background-color: #fedf2dd7;
  transition: 300ms ease-in-out;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.sedesHover:hover {
  opacity: 100%;
  box-shadow: 6px 10px 4px 0 #888888;
  scale: 1.015;
}

.sedesHoverContent {
  position: relative;
  top: -35px;
  transition: 300ms;
}

.sedesHover:hover .sedesHoverContent {
  transition: 500ms;
  top: 0;
}

.sedesHoverContent h2 {
  margin: 0;
  width: 100%;
}

.sedesHoverContent p {
  font-size: 18px;
  width: 100%;
  margin: 0 auto 50px auto;
}

.sedesHoverContent button {
  background-color: transparent;
  border: solid 2px black;
  border-radius: 4px;
  padding: 10px 40px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 700;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.sedesHoverContent button:hover {
  background-color: black;
  color: white;
}

.sedesMediaLinks {
  width: 100%;
  bottom: 0;
}

.sedesMediaLinks a {
  margin: 12px;
}

.sedesMediaLinks img {
  margin-top: 20px;
  width: 26px;
}

/* provisorio sede images */
#sedeFlorida {
  background-image: url("https://static.wixstatic.com/media/65c589_98ff31452d6f4176a35ca2f54e59276a~mv2.jpg/v1/fill/w_607,h_398,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/DSC_5873_JPG.jpg");
}

#sedeMaipu {
  background-image: url("https://static.wixstatic.com/media/65c589_db60655201fb44028f2455b2b6cd3fda~mv2.jpeg/v1/crop/x_0,y_14,w_718,h_479/fill/w_607,h_398,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/WhatsApp%20Image%202022-08-11%20at%2010_32_07%20AM.jpeg");
}

#sedeNunez {
  background-image: url("https://static.wixstatic.com/media/65c589_3c320ab4b2f948a9bf788a0d68e852d9~mv2.jpg/v1/crop/x_111,y_74,w_793,h_528/fill/w_607,h_398,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/IMG-20211019-WA0069.jpg");
}

#sedeSanFernando {
  background-image: url("https://static.wixstatic.com/media/65c589_24d33a19903c445c969f4fc3939d52ba~mv2.jpg/v1/fill/w_607,h_398,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/DSC_6074.jpg");
}

#sedeTigre {
  background-image: url("https://static.wixstatic.com/media/65c589_8d0184412e924303a93be83b16829795~mv2.jpg/v1/crop/x_154,y_18,w_1210,h_807/fill/w_607,h_398,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/IMG-20211101-WA0050.jpg");
}

#sedeSanBernardo {
  background-image: url("https://static.wixstatic.com/media/65c589_a60d328d5274420cb1dc5457bf39d046~mv2.jpeg/v1/fill/w_607,h_398,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/WhatsApp%20Image%202022-08-05%20at%2010_01_02%20AM.jpeg");
}
