#sedesContainer {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: #232323;
}

.sedesTitle {
  color: #232323;
}

.sedesSubtitle {
  font-size: 17px;
  color: silver;
}

.sedesBlocks {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.sedesBlocks div {
  background-image: url("https://static.wixstatic.com/media/65c589_98ff31452d6f4176a35ca2f54e59276a~mv2.jpg/v1/fill/w_607,h_398,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/DSC_5873_JPG.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: lightgray;
  border-radius: 5px;
  width: 350px;
  height: 350px;
  margin: 25px;
  transition: 200ms;
}

.sedesBlocks div:hover {
  box-shadow: inset 0 0 0 1000px rgba(9, 8, 13, 0.5);
}

.sedesBlocks div img {
  width: 100%;
}
